<nav class="navbar">
  <span class="navbar-item">
    <span class="navbar-item-icon">
      <img src="/images/navbar-home.svg" alt="Home">
    </span>
    <span class="navbar-item-text">
      <a href="{{ .Site.BaseURL }}">Home</a>
    </span>
  </span>
  <span class="navbar-item">
    <span class="navbar-item-icon">
      <img src="/images/navbar-blog.svg" alt="Home">
    </span>
    <span class="navbar-item-text">
      {{ with .Site.GetPage "blog" }}
      <a href="{{ .RelPermalink }}">Blog</a>
      {{ end }}
    </span>
  </span>
</nav>
